@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    cursor: none;
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}
:root{
    --Primary-color: #151515;
    --Secondary-color: #EDF5FC;
    --accent-color: #93032E;
}
html{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
body{
    background-color: var(--Secondary-color);
}
.DarkMode{
    --Primary-color: #EDF5FC;
    --Secondary-color: #151515;
    --accent-color: #93032E;
}